:root {
    --light-blue: #add8e6;
    --lime-green: #dbf5d0;
    --border-radius: 10px;
}

body{
    font-family: "UD Digi Kyokasho NK-B", "Bodoni MT Poster Compressed";
    background-image: linear-gradient(#f0f8ff, #e6e6fa);
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
}

h2 {
    text-align: center;
    border-radius: var(--border-radius);
}

form {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: var(--border-radius);
}

label, input, select, button {
    margin-bottom: 10px;
    border-radius: var(--border-radius);
}

input, select, button, option {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
}

.log {
    padding: 15px;
    border: 2px dashed #8595a3;
    margin: auto;
    width: 200px;
    background-image:
            linear-gradient(
                    var(--lime-green), var(--light-blue)
            );
    border-radius: var(--border-radius);
}