<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Blog</title>
    <link rel="stylesheet" href="/api/general/styles">
</head>
<body>

<header>
    <div class="header-container">
        <a href="/" class="logo">Skills+</a>
        <a href="/create" class="btn-create">+ Create Post</a>
    </div>
</header>

<button id="show">
    Something
</button>



<div id="holder">
</div>

<script>
    function createElement(tag, text, classname){
        const element = document.createElement(tag);
        element.innerHTML = text;
        if(classname){element.classList.add(classname);}
        return element;
    }

    document.getElementById("show").addEventListener("click", function(){
        loadStuff("/api/filter/post/English")
    })

    async function loadStuff(url) {
        try {
            const response = await fetch(url);
            const select = document.getElementById("holder");
            const data = await response.json();

            select.replaceChildren();

            data.forEach(element => {
                const blog = document.createElement("div");
                blog.classList.add("blog");

                blog.style.cursor = "pointer";
                blog.onclick = () => {
                    window.location.href = `/blog/${element.id}`;
                };

                blog.append(
                    createElement("h1", element.title,"blog-title"),
                    createElement("p", element.tag,"blog-tag"),
                    createElement("p", element.excerpt,"blog-excerpt")
                )
                select.append(blog);
            })
        } catch (err) {
            console.error("Failed to load blogs:", err);
        }
    }

    loadStuff("/api/blog/blogs");
</script>
</body>
</html>