<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .centered {
            margin: auto;
            font-size: 80px;
        }
    </style>
</head>
<body>
<button id="updBtn">Update</button>
<button id="incrementBtn">Increment</button>

<div id="output" class="centered">Click Update</div>

<script>
    setInterval(() => {
        fetch("api/data", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({ increment: false })
        }).then(response => response.json())
            .then(data => {
                document.getElementById("output").innerHTML =
                    data.message + " | " + data.count;
            })
    }, 50)

    document.getElementById("updBtn").onclick = function(){
        fetch("api/data", {
          method: "POST",
          headers: {"Content-Type": "application/json"},
          body: JSON.stringify({ increment: false })
        }).then(response => response.json())
        .then(data => {
            document.getElementById("output").innerHTML =
                data.message + " | " + data.count;
        })
    }

    document.getElementById("incrementBtn").onclick = function(){
        fetch("api/data", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({ increment: true })
        }).then(response => response.json())
            .then(data => {
                document.getElementById("output").innerHTML =
                    data.message + " | " + data.count;
            })
    }
</script>

</body>
</html>